# ================================

# Python Cache Files

# ================================

**pycache**/
*.py[cod]
*$py.class

# ================================

# Virtual Environments

# ================================

venv/
env/
ENV/
.venv/

# ================================

# PyCharm / IntelliJ

# ================================

.idea/
*.iml

# ================================

# VSCode (optional)
assets/
# ================================

.vscode/

# ================================

# Distribution / Packaging

# ================================

build/
dist/
*.egg-info/
.eggs/

# ================================

# Logs

# ================================

*.log
logs/

# ================================

# Environment Variables / Secrets

# ================================

.env
.env.*
*.env

# ================================

# Test / Coverage Reports

# ================================

.coverage
coverage.xml
htmlcov/
.pytest_cache/

# ================================

# Jupyter Notebook

# ================================

.ipynb_checkpoints

# ================================

# System Files

# ================================

.DS_Store
Thumbs.db

# ================================

# Playwright / Automation Reports

# ================================

allure-results/
allure-report/
test-results/
playwright-report/

# ================================

# Temporary Files

# ================================

*.tmp
*.swp
*~
